
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: blue !important;
	cursor: pointer;
}

#panel {
	height: 80px;
	background: rgb(245,245,245);
	border-bottom: 1px solid rgb(229,229,229);
	padding-left: 20px;
	padding-top: 20px;
}

#panel #account {
	display: none;
	float: right;
	margin-top: -20px;
	background-color: rgb(201,223,175);
	padding: 3px 10px 3px 15px;
	
	border-left: 1px solid rgb(224,236,191);
	border-bottom: 1px solid rgb(224,236,191);
	
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
}
#panel #account button {
	margin-left: 10px;
}
.loginDialog {
	position: absolute !important;
	top: 50px !important;
	right: 15px !important;
	left: auto !important;
}
.loginDialog img {
	display: block;
	cursor: pointer;
	margin: 13px 0;
}

#page {
	height: 500px;
}

#sidebar {
	float: left;
	width: 250px;
	height: 100%;
	border-right: 1px solid rgb(229,229,229);
}

#map_canvas {
	height: 100%;
}

#markerInfo {
	width: 250px;
	height: 50px;
}

#console {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 100px;
	border-top: 1px dashed grey;
	white-space: nowrap;
	overflow: hidden;
}
#console:hover {
	background: white;
	width: 100%;
	overflow: auto;
}
#console .error {
	color: red;
}

/* jQuery ui overrides */
div.ui-widget {font-size: 0.9em;}
div.ui-datepicker {font-size: 70%;}
div.ui-dialog-buttonpane {font-size: 80%;}
